<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SecurityDriven.TinyORM.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Test" connectionString="Data Source=.\SQL2017;Initial Catalog='TempDB';Integrated Security=True;Application Name=TinyORM.Tests;Pooling=true;" />
	</connectionStrings>
	<userSettings>
		<SecurityDriven.TinyORM.Tests.Properties.Settings>
			<setting name="parallelTestCount" serializeAs="String">
				<value>4</value>
			</setting>
		</SecurityDriven.TinyORM.Tests.Properties.Settings>
	</userSettings>
	<runtime>
	</runtime>
</configuration>